@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  
.Davy{
    
    background-image: url("../images/backgrounds/h_img.jpg ");
    height: 500px ;
  
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 200px;
}
.aboutus{
    text-align: center;
    padding: 30px;
}

#services{
    background-image:url("../images/backgrounds/s_image.jpg") ;
    background-repeat: no-repeat;
    height: 360px;
  
    text-align: center;
    color: white;
    padding-top: 60px;
 
    padding: 120px;
    
}
#icons{
    text-align: center;
    margin-right: 30px;
  
    padding-right: 30px;

}
.portfolio{
    text-align: center;
    padding: 60px;
}
.row{
    padding-top: 20px;
}
.contact{
    background-image:url("../images/backgrounds/c_image.jpg") ;
    height: 400px;
    color: white;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#email{
    background-color:none;
}
footer{
    text-align: center;
    padding: 30px;
}

.col{
    margin-left: 50px;
    margin-right: 50px;
    background:none ;
    color: white;
}

#will{
    margin-left: 20%;
    margin-right: 5%;
    width: 30%;
    background: transparent;
    color: white;
}
#eve{
    width: 62%;
    margin-left: 22%;
    background: transparent;
    color: white;


}
#eva{
   width: 30%;
    background: transparent;
    color: white;

}
#will::placeholder{
    color: white;
}
#eva::placeholder{
    color: white;
}
#eve::placeholder{
    color: white;
}