.Davy{
    
    background-image: url("/images/backgrounds/h_img.jpg ");
    height: 500px ;
    /* width: 400px; */
    /* margin-right: 12px; */
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: wheat;
    padding-top: 200px;
}
/* .{
    
    margin-top:80px;

} */