.Davy{
    
    background-image: url("/images/backgrounds/h_img.jpg ");
    height: 500px ;
    /* width: 400px; */
    /* margin-right: 12px; */
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding-top: 200px;
}
.aboutus{
    text-align: center;
    padding: 30px;
}

#services{
    background-image:url("/images/backgrounds/s_image.jpg") ;
    background-repeat: no-repeat;
    height: 360px;
    /* width: 1200px; */
    text-align: center;
    color: white;
    padding-top: 60px;
    /* padding-bottom: 30px; */
    padding: 120px;
    
}
#icons{
    text-align: center;
    margin-right: 30px;
    /* display: flex; */
    padding-right: 30px;

}
.portfolio{
    text-align: center;
    padding: 30px;
}
.row{
    padding-top: 20px;
}